<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
  </head>
  <body>
    <main>
        <h1>Homepage</h1>
        {% for tweet in data %}
          <p>{{ tweet[0] }}</p>
          <p><b>Domain:</b> {{ tweet[1] }}</p>
          <p><b>Description:</b> {{ tweet[2] }}</p>
          <p>{{ tweet[3] }} likes, {{ tweet[4] }} quotes, {{ tweet[6] }} retweets, {{ tweet[5] }} replies</p>
        {% endfor %}
    </main>
  </body>
</html>
