<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
  </head>
  <body>
    <main>
        <h1>Results for {{ hashtag }}</h1>
        <div class="search-bar">
          <p>Find tweets related to a hashtag! (Make sure to include the # in front)</p>
          <form method="post" action="/search">
            <input type="text" name="hashtag">
            <input type="submit" value="Submit">
          </form>
        </div>
        <div class="container text-center">
          <div class="row row-cols-3">
            {% for tweet in data %}
              <div class='col tweet'>
                <p>{{ tweet[0] }}</p>
                <p><b>Domain:</b> {{ tweet[1] }}</p>
                <p><b>Description:</b> {{ tweet[2] }}</p>
                <p>{{ tweet[3] }} likes, {{ tweet[4] }} quotes, {{ tweet[6] }} retweets, {{ tweet[5] }} replies</p>
                <p>Flair classified the tweet as {{ tweet[8] }} with a score of {{ tweet[7] }}</p>
              </div>
            {% endfor %}
          </div>
        </div>

    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>
